body {
  background-color: bisque;
}
h1,
p {
  text-align: center;
}
.nav-item {
  overflow: hidden;
  width: 700px;
  margin: auto;
}

.nav-item a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 20px;
  justify-content: center;
  float: left;
}
li {
  display: inline;
}
